<button routerLink="/admin/product/add">Add new product</button>
<hr />

<ul *ngIf="!(loading$ | async); else loader">
  <li *ngFor="let product of products$ | async">
    <app-first
      [name]="product.name"
      [description]="product.description"
      [price]="product.price | currency"
      [category]="product.category"
      [isAvailable]="product.isAvailable"
      [quantity]="product.quantity"
    ></app-first>
    <button (click)="onEditProduct(product)">edit</button>
  </li>
</ul>

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
