$black-color: #000;
$light-color: #fff;
$dark-gray-color: darkslategrey;
$blue-color: rgb(78, 156, 233);
$blue-color: rgb(78, 156, 233);

@mixin title() {
  font-size: 2rem;
  border-bottom: 0.13rem solid $black-color;
  margin-bottom: 1.8rem;
}

@mixin btn() {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  border: none;
  cursor: pointer;
}

@mixin flex-row() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  max-width: 85%;
  margin: 0 auto;

  font-family: sans-serif;
}

.cart,
.products {
  padding: 0 1rem;
}

.products {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.13rem;
    background-color: $black-color;
    display: block;
  }
}

.title {
  @include title;
  text-align: center;
  text-transform: capitalize;
  color: $dark-gray-color;
}

.subtitle {
  color: $dark-gray-color;
  font-size: 1.2rem;
}

.button {
  @include btn;
  background-color: $blue-color;
  color: $light-color;
}
