* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  max-width: 85%;
  margin: 0 auto;

  font-family: sans-serif;
}

.cart,
.products {
  padding: 0 1rem;
}

.products {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.13rem;
    background-color: #000;
    display: block;
  }
}

.title {
  color: darkslategrey;
  border-bottom: 0.13rem solid #000;
  margin-bottom: 2rem;
}
