<h2 class="title">{{ "Cart" | uppercase }}</h2>

<ng-container *ngIf="!(cartListService.loading$ | async); else loader">
  <a routerLink="/orders">Go to orders</a>

  <div class="controls">
    <select [formControl]="sortByControl">
      <option *ngFor="let option of sortOptions" [value]="option">
        {{ option }}
      </option>
    </select>

    <div>
      <strong>Sort by:</strong>
      <span>{{ sortBy }}</span>
    </div>

    <label
      ><input type="checkbox" [formControl]="isAscControl" />{{
        !isAsc ? "ASC" : "DESC"
      }}</label
    >

    <button (click)="clearCart()">Clear cart</button>
  </div>

  <div class="information">
    <p class="information-block">
      <strong>Number of goods:</strong>
      <span>{{ cartListService.totalQuantity$ | async }}</span>
    </p>
    <p class="information-block">
      <strong>Amount of purchased goods:</strong>
      <span>{{ cartListService.totalSum$ | async | currency }}</span>
    </p>
  </div>

  <ul *ngIf="cartListService.isEmptyCart() | async; else elseBlock">
    <li
      *ngFor="
        let product of cartListService.cartProducts$
          | async
          | orderBy: sortBy:isAsc;
        trackBy: trackByProductId
      "
    >
      <app-cart-item
        [product]="product"
        (changeProductQuantity)="onChangeProductQuantity($event)"
        (removeProductFromCart)="onRemoveProductFromCart($event)"
      ></app-cart-item>
    </li>
  </ul>

  <ng-template #elseBlock>
    <p>Cart is empty :(</p>
  </ng-template>
</ng-container>

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
